* {
    box-sizing: border-box;
  }

@font-face {
  font-family: 'segino';
  src: url('/src/fonts/segino-Regular.otf') format(truetype);
}

html {
    font-family: 'segino', sans-serif;
    background-color: transparent;
  }
  
body {  
  background: rgb(188, 3, 3);
  margin: 0;
  width: 100%;
  height: 100vh;
  padding: 0rem;
  line-height: 1.5;
  @media(min-width: 700px){
    background: rgb(72, 72, 236);
  }
  @media(min-width: 1200px){
    background: rgb(87, 87, 87);
    
  }
}

main{
  margin: 3rem;
}
  .expanded {
    display: unset;
  }
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
    font: bold;
  }

  h1, h2, p, ul{
    color: ghostwhite;
  }

  @view-transition {
    navigation: auto;
  }