---

---

<html lang="nl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Over</title>
	</head>
	<body>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">Over</a>
            <a href="/blog/">blog</a>
        </nav>
		<h1>Over I Love Web</h1>
	</body>
</html>
