---
import BaseLayout from '../layout/baseLayout.astro';
import Card from '../components/Card.astro'
const pageTitle = "I Love Web";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mijn mooie notitie</h2>
  <content>
    <Card fileName="sprint-13" blogName="Sprint 13"></Card>
    <Card fileName="sprint-14" blogName="Sprint 14"></Card>
    <Card fileName="sprint-15" blogName="Sprint 15"></Card>
  </content>
  <h2>WE LOVE WEB blogs</h2>
  <content>
    <Card fileName="WLW-Vasilis-van-Gemert" blogName="Vasilis van Gemert"></Card>
    <Card fileName="WLW-Dion" blogName="Dion Pieters"></Card>
    <Card fileName="WLW-Nicolas-Garnier" blogName="Nicolas Garnier"></Card>
  </content>
</BaseLayout>

<style>
  content{
    display: flex;
    justify-content: space-evenly ;
    flex-wrap: wrap;
    width: 100%;

  }
  h2{
    text-align: center;
  }
</style>