---
import BaseLayout from '../layout/baseLayout.astro'
import HighlightCard from '../components/HighlightCard.astro'
import Card from '../components/Card.astro'
const pageTitle = "I Love Web"
const allPosts = await Astro.glob('./posts/*.md');
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Uitgelicht</h2>
  <content>
    <HighlightCard fileName="sprint-13" blogName="Sprint 13"></HighlightCard>
    <HighlightCard fileName="sprint-14" blogName="Sprint 14"></HighlightCard>
    <HighlightCard fileName="sprint-15" blogName="Sprint 15"></HighlightCard>
  </content>
  <h2>Alle WLW posts</h2>
  <content>
    {allPosts.map((post) => <Card url={post.url} blogName={post.frontmatter.title} pubDate={post.frontmatter.pubDate}/>)}
  </content>
</BaseLayout>

<style>
  content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

  }
  h2{
    text-align: center;
  }
</style>