---
const { url, blogName } = Astro.props;
---
<div>
    <a href={url}>{blogName}</a>
</div>

<style>
    div{
        width: 5rem;
        height: 3rem;
        border-radius: 1px black;
    }
    div a{
        font-size: 4rem;
    }
</style>