---
const { fileName, blogName } = Astro.props;
---
<div>
    <a href=`../posts/${fileName}`>{blogName}</a>
</div>

<style>
    div{
        display: block;
        margin: 1rem;
        width: 14rem;
        max-width: 10rem;
        height: 5rem;
        border: 1px solid black;

    }
    div a{
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
        line-height: 5rem;
        color: ghostwhite;
    }
</style>