---
const { url, blogName } = Astro.props;
---
<div>
    <span><a href={url}>{blogName}</a></span>
</div>

<style>
div{
    position: relative;
    margin: 1rem 1rem;
    width: 9rem;
    border-radius: 20px;
    height: 9rem;
    border: 1px solid black;
    background: rgb(44, 44, 44);
    transition: 0.5s;
    scale: 1;

}
div:hover{
    background: rgb(159, 159, 159);
    transition: 0.5;
    scale: 1.2;
}
div a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: ghostwhite;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3rem;
}
@media screen and (max-width: 880px) {
    div {
        margin: 1rem 0.5rem;
        width: 95%;
    }
}
</style>