---
const { url, blogName, pubDate } = Astro.props;
---
<div>
    <a href={url}>{blogName}</a>
    <small>rel:{pubDate}</small>
</div>

<style>
div{
    position: relative;
    margin: 1rem 1rem;
    width: 30%;
    height: 8rem;
    border: 1px solid black;
    background: #4444f49e;
    transition: 0.4s;

}
div a{
    display: block;
    font-size: 1rem;
    text-align: center;
    line-height: 8rem;
    color: ghostwhite;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
div small{
    position: absolute;
    font-size: 0.8rem;
    right: 2px;
    bottom: 2px;
    color: ghostwhite;
}
div:hover{
    background: #4444f4ca;
    transition: 0.4;
}
@media screen and (max-width: 880px) {
    div {
        margin: 1rem 0.5rem;
        width: 95%;
    }
}
</style>