---
---
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
  <style>
    div{
      position: absolute;
      top: 2px;
      left: 2px;
    }
  </style>