---
const { fileName, blogName } = Astro.props;
---
<div>
    <a href=`../posts/${fileName}`>{blogName}</a>
</div>

<style>
    div{
        position: relative;
        margin: 1rem 3rem;
        width: 15rem;
        height: 5rem;
        border: 1px solid black;
        background: #efd2247d;
        transition: 0.4s;

    }
    div:hover{
        background: #efd124cb;
        transition: 0.4s;
    }
    div a{
        display: block;
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
        line-height: 5rem;
        color: ghostwhite;
        font-weight: 700;
    }
</style>