
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">Over mij</a>
    <a href="/blog/">Blogs</a>
    <a href="/digitalgarden/">Tuintje</a>
</div>

<style>
    a{
        margin-left: 1rem;
    }
</style>