<button popovertarget="notification">Update log</button>

<div id="notification" popover>
    <ul>
        <li>7-6-25 Astro updated & updated the system with the new astro Update</li>
        <li>6-6-25 popup works now!</li>
        <li>"2024-10-22" WLW Dion added</li>

    </ul>

</div>
<style>
    button{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    div{
        background: red;
        width: 40%;
        height: 30%;
    }
</style>