---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css';
const { frontmatter } = Astro.props;
---
<Header/>
<main>
    <h1>{frontmatter.title}</h1>
    <small>Geschreven door: {frontmatter.author}</small><br>
    <small>Datum publiciteit: {frontmatter.pubDate.toString().slice(0,10)}</small><br>
    <small>Beschrijving: {frontmatter.description}</small>
    <slot />
</main>
<Footer/>